{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>travel</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}" >
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png" type="image/gif' %}" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{ % static 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
      <link href="{ % static 'https://unpkg.com/aos@2.3.1/dist/aos.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %"}>
      <link rel="stylesheet" href="{% static 'css/niceCountryInput.css' %}">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{ %static 'images/loading.gif' %}" alt="#"/></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <div class="header">
         <div class="top_header">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="select_main">
                        <div class="sign">
                           <div class="niceCountryInputSelector se_flag" style="width: 200px;" data-selectedcountry="US" data-showspecial="false" data-showflags="true" data-i18nall="All selected"
                              data-i18nnofilter="No selection" data-i18nfilter="Filter" data-onchangecallback="onChangeCallback" />
                           </div>
                           <span> <a href="javascript:void(0)">Sign Up</a> </span>   
                        </div>
                        <ul class="top_infomation">
                           <li><img src="{% static 'images/ti_call.png' %}" alt="#"/>Call : +1234567890</li>
                           <li><img src="{% static 'images/ti_mail.png' %}" alt="#"/><a href="Javascript:void(0)"> demo@gmail.com</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="header_midil">
            <div class="container">
               <div class="row d_flex">
                  <div class=" col-md-2 col-sm-3 logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="{% static 'images/logo.png' %}" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-9 col-md-8">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="index.html">Home</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="about.html">About</a>
                              </li>
                              {% if user.is_authenticated %}
                              <li>Hello{{user.username}}</li>
                              <li class="nav-item">
                                 <a class="nav-link" href="credentials/logout">logout</a>
                              </li>
                              {% else %}
                              <li class="nav-item">
                                 <a class="nav-link" href="credentials/register">Register </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="credentials/login">login </a>
                              </li>
                              {% endif %}

                              <li class="nav-item">
                                 <a class="nav-link" href="contact.html">Contact Us</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
                  <div class="col-md-2  d_none">
                     <ul class="email text_align_right">
                        <li><a href="Javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                        <li><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i>   </a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end header inner -->
      <!-- end header -->
      <!-- top -->
      <div class="full_bg">
         <div class="slider_main">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <!-- carousel code -->
                     <div id="carouselExampleIndicators" class="carousel slide">
                        <ol class="carousel-indicators">
                           <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                           <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                           <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                           <!-- first slide -->
                           <div class="carousel-item active">
                              <div class="carousel-caption relative">
                                 <div class="row">
                                    <div  class="col-md-10 offset-md-1">
                                       <div class="board">
                                          <h1>Now start <br>Your traveling </h1>
                                          <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed towhen looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to</p>
                                          <a class="read_more" href="Javascript:void(0)">Read More</a>
                                          <a class="read_more" href="Javascript:void(0)">Contact us</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- second slide -->
                           <div class="carousel-item">
                              <div class="carousel-caption relative">
                                 <div class="row">
                                    <div  class="col-md-10 offset-md-1">
                                       <div class="board">
                                          <h1>Now start <br>Your traveling </h1>
                                          <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed towhen looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to</p>
                                          <a class="read_more" href="Javascript:void(0)">Read More</a>
                                          <a class="read_more" href="Javascript:void(0)">Contact us</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- third slide-->
                           <div class="carousel-item">
                              <div class="carousel-caption relative">
                                 <div class="row">
                                    <div  class="col-md-10 offset-md-1">
                                       <div class="board">
                                          <h1>Now start <br>Your traveling </h1>
                                          <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed towhen looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to</p>
                                          <a class="read_more" href="Javascript:void(0)">Read More</a>
                                          <a class="read_more" href="Javascript:void(0)">Contact us</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- controls -->
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end banner -->
      <!-- our_packages -->
      <div class="our_packages">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-12">
                  <form id="table" class="table_form">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="titlepage text_align_left ">
                              <h3>Our Packages</h3>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <label>Select Your Destination :</label>
                           <input class="contactus" placeholder="All Destinations" type="text" name="destinations"> 
                        </div>
                        <div class="col-md-4">
                           <label>Select Your Destination :</label>
                           <input type="text" class="contactus" id="my_date_picker" placeholder="mm-dd-yy" > 
                        </div>
                        <div class="col-md-4">
                           <label>Select Your Destination :</label>
                           <select id='seluser' class="contactus" >
                              <option value='0'>$1090</option>
                              <option value='1'>$1100</option>
                              <option value='2'>$1160</option>
                              <option value='3'>$1190</option>
                           </select>
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Search</button>
                        </div>
                     </div>
                  </form>
               </div>
               <div class="col-md-12">
                  <div class="filter_main">
                     <a class="read_more" href="javascript:void(0)"> <img src="{ % static 'images/filter.png' %}" alt="#"/> More Filters </a>
                  </div>
               </div>
               <div class="col-md-8 offset-md-2">
                  <div class="typologies">
                     <div class="row">
                        <div class="col-md-3">
                           <div class="typolo">
                              <span>typologies :</span>
                              <form>
                                 <div class="form-check">
                                    <label class="marg_bottom0">
                                    <input type="radio" name="radio" checked> <span class="label-text">Relax </span>
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <label class="marg_bottom0">
                                    <input type="radio" name="radio"> <span class="label-text">Cultural </span>
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <label class="marg_bottom0">
                                    <input type="radio" name="radio"> <span class="label-text">Sport </span>
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <label class="marg_bottom0">
                                    <input type="radio" name="radio"> <span class="label-text">History </span>
                                    </label>
                                 </div>
                              </form>
                           </div>
                        </div>
                        <div class="col-md-3">
                           <div class="typolo">
                              <span>Durations :
                              </span>
                              <form>
                                 <div class="form-check">
                                    <label class="marg_bottom0">
                                    <input type="radio" name="radio" checked> <span class="label-text"> 2 - 4 Days </span>
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <label class="marg_bottom0">
                                    <input type="radio" name="radio"> <span class="label-text"> 2 - 3 Days </span>
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <label class="marg_bottom0">
                                       <input type="radio" name="radio"> <span class="label-text"> 2 - 5 Days </span>
                                       </label> 
                                 </div>
                                 <div class="form-check">
                                    <label class="marg_bottom0">
                                       <input type="radio" name="radio"> <span class="label-text"> 2 - 6 Days </span>
                                       </label>
                                 </div>
                              </form>
                           </div>
                        </div>
                        <div class="col-md-3">
                           <div class="typolo">
                              <span>Difficulty :
                              </span>
                              <form>
                                 <div class="form-check">
                                    <label class="marg_bottom0">
                                    <input type="radio" name="radio" checked> <span class="label-text">High  </span>
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <label class="marg_bottom0">
                                    <input type="radio" name="radio"> <span class="label-text">Low  </span>
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <label class="marg_bottom0">
                                    <input type="radio" name="radio"> <span class="label-text">Medium </span>
                                    </label>
                                 </div>
                              </form>
                           </div>
                        </div>
                        <div class="col-md-3">
                           <div class="typolo">
                              <span>Min Age :
                              </span>
                              <form>
                                 <div class="form-check">
                                    <label class="marg_bottom0">
                                    <input type="radio" name="radio" checked> <span class="label-text"> 10 Years  </span>
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <label class="marg_bottom0">
                                    <input type="radio" name="radio"> <span class="label-text"> 25 Years  </span>
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <label class="marg_bottom0">
                                    <input type="radio" name="radio"> <span class="label-text"> 40 Years </span>
                                    </label>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end our_packages -->
      <!-- packages -->
      <div class="packages">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center ">
                     <h2>World Place Packages</h2>
                  </div>
               </div>
            </div>
            {% for i in result %}
            <div class="row">-->
              <div class=" col-md-6">-->
                 <div id="ho_img" class="packages_box" data-aos="fade-right" >-->
                    <figure><img src="{{i.img.url}}" alt="#"/></figure>-->
                     <div class="tuscany">-->
                        <div class="tusc text_align_left">-->
                           <div class="italy">-->
                              <h3>{{i.name}}</h3>-->
                              <span><img src="{% static 'images/loca.png' %}" alt="#"/> Italy</span>-->
                           </div>
                           <div class="italy_right">
                              <h3>Price</h3>
                              <span>$1000.0</span>
                           </div>
                        </div>
                        <p>{{i.desc}}</p>
                        <div class="tusc">
                           <a class="read_more" href="Javascript:void(0)">Read More</a>
                           <a class="read_more" href="Javascript:void(0)">Book Now</a>
                        </div>
                     </div>
                  </div>
               </div>
               {% endfor %}
               <div class=" col-md-6">
                  <div id="ho_img" class="packages_box" data-aos="fade-left">
                     <figure><img src="{% static 'images/packag2.jpg'%}" alt="#"/></figure>
                     <div class="tuscany">
                        <div class="tusc text_align_left">
                           <div class="italy">
                              <h3>Pais</h3>
                              <span><img src="{% static 'images/loca.png' %}" alt="#"/> Italy</span>
                           </div>
                           <div class="italy_right">
                              <h3>Price</h3>
                              <span>$1000.0</span>
                           </div>
                        </div>
                        <p>Content here, content here', making it look like readable English. Many desktop publishing packagesContent here, content here', making it look like readable English. Many desktop publishing packages and web page editors now us</p>
                        <div class="tusc">
                           <a class="read_more" href="Javascript:void(0)">Read More</a>
                           <a class="read_more" href="Javascript:void(0)">Book Now</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class=" col-md-6">
                  <div id="ho_img" class="packages_box" data-aos="fade-right" >
                     <figure><img src="{% static 'images/packag3.jpg' %}" alt="#"/></figure>
                     <div class="tuscany">
                        <div class="tusc text_align_left">
                           <div class="italy">
                              <h3>San Francisco</h3>
                              <span><img src="{% static 'images/loca.png' %}" alt="#"/> United States
                              </span>
                           </div>
                           <div class="italy_right">
                              <h3>Price</h3>
                              <span>$1000.0</span>
                           </div>
                        </div>
                        <p>Content here, content here', making it look like readable English. Many desktop publishing packagesContent here, content here', making it look like readable English. Many desktop publishing packages and web page editors now us</p>
                        <div class="tusc">
                           <a class="read_more" href="Javascript:void(0)">Read More</a>
                           <a class="read_more" href="Javascript:void(0)">Book Now</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class=" col-md-6">
                  <div id="{% static 'ho_img' %}" class="packages_box" data-aos="fade-left">
                     <figure><img src="{% static 'images/packag4.jpg' %}" alt="#"/></figure>
                     <div class="tuscany">
                        <div class="tusc text_align_left">
                           <div class="italy">
                              <h3>Phuket</h3>
                              <span><img src="{% static 'images/loca.png' %}" alt="#"/> Thailandia</span>
                           </div>
                           <div class="italy_right">
                              <h3>Price</h3>
                              <span>$1000.0</span>
                           </div>
                        </div>
                        <p>Content here, content here', making it look like readable English. Many desktop publishing packagesContent here, content here', making it look like readable English. Many desktop publishing packages and web page editors now us</p>
                        <div class="tusc">
                           <a class="read_more" href="Javascript:void(0)">Read More</a>
                           <a class="read_more" href="Javascript:void(0)">Book Now</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12">
                  <a class="read_more" href="Javascript:void(0)">See More</a>
               </div>
            </div>
         </div>
      </div>

      <!-- end packages -->
      <!-- about -->
      <div class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>About Our Company</h2>
                  </div>
               </div>
               <div class="col-md-10 offset-md-1">
                  <div class="about_text text_align_center">
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentiallyLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                     </p>
                     <a class="read_more" href="about.html">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <!-- customers -->
      <div class="customers">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="titlepage text_align_center">
                     <h2>Customers Says </h2>
                  </div>
               </div>
            </div>
            <!-- start slider section -->
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide customers_banne" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container-fluid">
                              <div class="carousel-caption relative">
                                 <div class="test_box text_align_center">
                                    <p>text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a typetext of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type</p>
                                    <i><img src="{% static 'images/test2.png' %}" alt="#"/></i>
                                    <h4>Fitter Found</h4>
                                    <span>Industry's standard </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container-fluid">
                              <div class="carousel-caption relative">
                                 <div class="test_box text_align_center">
                                    <p>text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a typetext of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type</p>
                                    <i><img src="{% static 'images/test2.png' %}" alt="#"/></i>
                                    <h4>Fitter Found</h4>
                                    <span>Industry's standard </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container-fluid">
                              <div class="carousel-caption relative">
                                 <div class="test_box text_align_center">
                                    <p>text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a typetext of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type</p>
                                    <i><img src="{% static 'images/test2.png' %}" alt="#"/></i>
                                    <h4>Fitter Found</h4>
                                    <span>Industry's standard </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <i class="fa fa-angle-left" aria-hidden="true"></i>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end customers -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 ">
                     <div class="letter text_align_left">
                        <h2>Contact Us</h2>
                     </div>
                  </div>
                  <div class="col-md-5">
                     <form id="request" class="main_form">
                        <div class="row">
                           <div class="col-md-12 ">
                              <input class="cont_in" placeholder="Full Name" type="type" name=" Name"> 
                           </div>
                           <div class="col-md-12">
                              <input class="cont_in" placeholder="Your Email" type="type" name="Email"> 
                           </div>
                           <div class="col-md-12">
                              <input class="cont_in" placeholder="Phone Number" type="type" name="Phone Number">                          
                           </div>
                           <div class="col-md-12">
                              <input class="cont_in" placeholder="Your Words" type="type" name="Words"> 
                           </div>
                           <div class="col-md-12">
                              <button class="send_btnt">Send</button>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="col-md-4 ">
                     <ul class="conta">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>Locations 
                        </li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>+01 1234567890</li>
                        <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="Javascript:void(0)"> demo@gmail.com</a></li>
                     </ul>
                  </div>
                  <div class="col-md-3">
                     <div class="follow text_align_left">
                        <h3>Follow Us</h3>
                        <ul class="social_icon ">
                           <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="follow letter text_align_left">
                        <h3>Newsletter</h3>
                        <form class="form_subscri">
                           <input class="newsl" placeholder="Email" type="text" name="Email">
                           <button class="subsci_btn">subscribe</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2020 All Rights Reserved. Design by <a href="https://html.design/"> Free html Templates</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'https://unpkg.com/aos@2.3.1/dist/aos.js' %}"></script>
      <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
      <script src="{% static 'js/niceCountryInput.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <script>  AOS.init();</script>
   </body>
</html>