<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>REGISTRATION</h2>

<form action="register" method="post">
{% csrf_token %}
    <input type="text" name="username" placeholder=" enter USERNAME"><br>
      <input type="text" name="first_name" placeholder="enter your FIRST NAME"><br>
      <input type="text" name="last_name" placeholder="enter your LAST NAME"><br>
      <input type="email" name="email" placeholder="enter email address"><br>
      <input type="password" name="password" placeholder="enter your password"><br>
    <input type="password" name="password1" placeholder="confirm your password"><br>
    <input type="submit">

</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>